.gallery-wrap {
    padding: 0px;
    background: #f8f9fa;
    padding-top: 25px !important;
    padding-bottom: 50px;
}
    .gallery-wrap .product-list .product-item {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }


[class~=gallery-wrap] [class~=gallery-item] [class~=gallery-item-inner] [class~=gallery-content] [class~=gallery-action] a {
    background: transparent !important;
    border: 1px solid #ffffff14;
    border-radius: 0px;
    position: absolute;
    left: 50%;
    margin-bottom: 50%;
}
.gallery-wrap .gallery-item .gallery-item-inner .gallery-content {
    padding-left: 25px;
    padding-right: 15px;
}
.main-contact-us .header-contact .icon i, [class~=post-navigation] [class~=post-prev] span a:hover, [class~=post-navigation] [class~=post-next] span a:hover, [class~=gallery-wrap] [class~=gallery-item] [class~=gallery-item-inner] [class~=gallery-content] [class~=gallery-meta] [class~=gallery-cat] a {
    color: #606975;
}
[class~=gallery-wrap] [class~=gallery-item] [class~=gallery-item-inner] [class~=gallery-content] [class~=gallery-meta] [class~=gallery-cat] b {
    font-weight: 300;
    color: #f5f6fb3d;
    font-size: 10px;
}
.gallery-wrap .current-page {
    border-bottom: 1px solid #e9ecef;
    margin-top: 50px;
}
.load-more {
    text-align: center;
    width: 100%;
    background: #f1eeea96;
    float: left;
}
.view-more-button {
   background: #2525257a;
    color: #fff;
    font-size: 13px;
    padding: 4px 40px;
    border: none;
    outline: 1px solid #bababa;
    outline-offset: 2px;
}
.view-more-button:hover {
    background: #f61;
}
.article-feed {
    float: left;
    width: 100%;
}

.scroller-status {
    float: left;
    text-align: center;
    width: 100%;display: none;
}
.infinite-scroll-last {
    color: #fff;
    background: #8888888a;
    line-height: 32px;
    border-bottom: 1px solid #ec0000;
} 
.infinite-scroll-error {
    color: yellow;
    background: #ec0000;
    padding: 6px;
}
@media (max-width: 767px) {
    .post-block-style {
        border-bottom: 1px dotted #eee;
        padding-bottom: 12px;
    }
}