<div  class="popup-title">
    <a href="#" title="Shopping cart">
        <span class="title-cart">
            <i class="flaticon-shop"></i>
        </span>
        <span id="cart-status" class="ajax-cart-quantity">@ViewData["CartCount"]</span>
    </a>
</div>