@model List<ASP.Web.Model.Models.ProductTag>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            {
               <a href="@Utils.GetUrlProductTag(item.Id)">@item.Name</a>
                @*<li>

                    <a href="@Utils.GetUrlProductTag(item.Id)">@item.Name <span>[@item.ProductProductTagMappings.Count(e => e.Product.IsActive)]</span></a>
                </li>*@
            }
        }
    }

