<?xml version="1.0"?>
<oauth2.login.configuration>
  <web failedRedirectUrl="~/AuthExternal/LoginFail" />
  <oauth>
    <add name="Google"
         clientid="23208389680-bj85vu6ds332c1ohtir39338ndjvjqbl.apps.googleusercontent.com"
         clientsecret="Wy3Zqgn1MR81jY0xcQV4h8PN"
         callbackUrl="http://127.0.0.1:19629/AuthExternal/Callback/Google"
         scope="https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile" />

    <add name="Facebook"
         clientid="2415692705149977"
         clientsecret="5067b4dc3f879b37d58419d12d60ab91"
         callbackUrl="https://donavi.minhanhsolution.vn/AuthExternal/Callback/Facebook"
         scope="public_profile,user_friends,email" />
    
    <add name="Twitter"
         clientid="xxx_CLIENT_ID_xxx"
         clientsecret="xxx_CLIENT_SECRET_xxx"
         callbackUrl="http://www.acafeplus.com/AuthExternal/Callback/Twitter" />
  </oauth>
</oauth2.login.configuration>