@using ASP.Web.Model.Models
@model MenuCategory
<div class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-2 vc_col-md-3 vc_col-xs-6 color-scheme-light menu-loaded">
    <div class="vc_column-inner vc_custom_1534431258774">
        <div class="wpb_wrapper">
            <ul class="sub-menu mega-menu-list">
                <li class="">
                    <a><span class="nav-link-text">OUR STORES</span></a>
                    <ul class="sub-sub-menu">
                        <li class=""><a href="#" title=""><span class="nav-link-text">New York</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">London SF</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Cockfosters BP</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Los Angeles</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Chicago</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Las Vegas</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-2 vc_col-md-3 vc_col-xs-6 color-scheme-light">
    <div class="vc_column-inner vc_custom_1534431265256">
        <div class="wpb_wrapper">
            <ul class="sub-menu mega-menu-list">
                <li class="">
                    <a><span class="nav-link-text">USEFUL LINKS</span></a>
                    <ul class="sub-sub-menu">
                        <li class=""><a href="#" title=""><span class="nav-link-text">Privacy Policy</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Returns</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Terms &amp; Conditions</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Contact Us</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Latest News</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Our Sitemap</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-2 vc_col-md-3 vc_col-xs-6 color-scheme-light">
    <div class="vc_column-inner vc_custom_1534431270210">
        <div class="wpb_wrapper">
            <ul class="sub-menu mega-menu-list">
                <li class="">
                    <a><span class="nav-link-text">OUR STORES</span></a>
                    <ul class="sub-sub-menu">
                        <li class=""><a href="#" title=""><span class="nav-link-text">New York</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">London SF</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Cockfosters BP</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Los Angeles</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Chicago</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Las Vegas</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-2 vc_col-md-3 vc_col-xs-6 color-scheme-light">
    <div class="vc_column-inner vc_custom_1534431274761">
        <div class="wpb_wrapper">
            <ul class="sub-menu mega-menu-list">
                <li class="">
                    <a><span class="nav-link-text">USEFUL LINKS</span></a>
                    <ul class="sub-sub-menu">
                        <li class=""><a href="#" title=""><span class="nav-link-text">Privacy Policy</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Returns</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Terms &amp; Conditions</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Contact Us</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Latest News</span></a></li>
                        <li class=""><a href="#" title=""><span class="nav-link-text">Our Sitemap</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-12 color-scheme-light text-left">
    <div class="vc_column-inner vc_custom_1534431567733">
        <div class="wpb_wrapper">
            <div id="wd-5fafc23806ea4" class="woodmart-text-block-wrapper color-scheme-light woodmart-title-size-custom woodmart-title-width-100 text-left vc_custom_1534759088536">
                <div class="woodmart-title-container woodmart-text-block font-primary woodmart-font-weight-400"> AVAILABLE ON:</div>
            </div>
            <div id="gallery_514" class="woodmart-images-gallery view-grid">
                <div class="gallery-images row woodmart-spacing-20">
                    <div class="woodmart-gallery-item col-6"> <a href="#" data-elementor-open-lightbox="no" data-index="1" data-width="200" data-height="65"> <img width="200" height="65" src="/as-images/shared/app-store-button.png" class="woodmart-gallery-image image-1 attachment-full" alt=""> </a></div>
                    <div class="woodmart-gallery-item col-6"> <a href="#" data-elementor-open-lightbox="no" data-index="2" data-width="200" data-height="65"> <img width="200" height="65" src="/as-images/shared/google-play-button.png" class="woodmart-gallery-image image-2 attachment-full" alt=""> </a></div>
                </div>
            </div>
            <div id="wd-5fafc23807ea3" class="woodmart-text-block-wrapper color-scheme-light woodmart-title-size-custom woodmart-title-width-100 text-left vc_custom_1533717079868">
                <div class="woodmart-title-container woodmart-text-block font-primary woodmart-font-weight-400"> Join our newsletter!</div>
            </div>
            <div id="wd-5fafc23807f01" class="woodmart-text-block-wrapper color-scheme-custom woodmart-title-size-custom woodmart-title-width-100 text-left vc_custom_1533717043002">
                <div class="woodmart-title-container woodmart-text-block font-text woodmart-font-weight-400"> Will be used in accordance with our <a href="#"><span class="color-primary">Privacy Policy</span></a></div>
            </div>
            <div class="wpb_text_column wpb_content_element vc_custom_1534429271599">
                <div class="wpb_wrapper">
                    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-1446" method="post" data-id="1446" data-name="Mailshimp">
                        <div class="mc4wp-form-fields">
                            <p> <label>Email address: </label> <input type="email" name="EMAIL" placeholder="Your email address" required=""></p>
                            <p> <input type="submit" value="Sign up"></p>
                        </div>
                        <label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp" value="1605354040"><input type="hidden" name="_mc4wp_form_id" value="1446"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
                        <div class="mc4wp-response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>