@using global::Web.Helpers
@model List<MegaMenuModel>
    <ul class="sub-menu">
        <li>
            <div class="mega-menu-content">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-3">
                            <div class="pt-4 pb-4">
                                <h3>@item.Title</h3>
                                <ul>
                                    @foreach (var innerItem in item.Children)
                                    {
                                    <li><a href="@innerItem.Href">@innerItem.Title</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </li>
    </ul>