@using ASP.Web.Model.Models
@model MenuCategory
<ul id="menu-mobile-menu" class="site-mobile-menu menu-loaded">
    <li class="menu-item menu-item-type-post_type menu-item-object-page item-level-0"><a href="/" class="woodmart-nav-link"><span class="nav-link-text">Home</span></a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page item-level-0"><a href="/" class="woodmart-nav-link"><span class="nav-link-text">About us</span></a></li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-6706 item-level-0">
        <a href="#" class="woodmart-nav-link"><span class="nav-link-text">Blog</span></a>
        <div class="sub-menu-dropdown color-scheme-dark">
            <div class="container">
                <ul class="sub-menu color-scheme-dark">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom item-level-1"><a href="https://woodmart.xtemos.com/demo-grocery/demo/grocery/" class="woodmart-nav-link"><span class="nav-link-text">Demo Grocery</span></a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom item-level-1"><a href="https://woodmart.xtemos.com/demo-tools/demo/tools/" class="woodmart-nav-link"><span class="nav-link-text">Demo Tools</span></a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom item-level-1"><a href="https://woodmart.xtemos.com/demo-medical/demo/medical/" class="woodmart-nav-link"><span class="nav-link-text">Demo Medical</span></a></li>
                </ul>
            </div>
        </div>
        <span class="icon-sub-menu"></span>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page  item-level-0"><a href="/lien-he.html" class="woodmart-nav-link"><span class="nav-link-text">Liên hệ</span></a></li>
    <li class="menu-item item-level-0 menu-item-wishlist">
        <a href="/wishlist/" class="woodmart-nav-link">
            <span class="nav-link-text">Wishlist</span>
        </a>
    </li>
    <li class="menu-item item-level-0 menu-item-compare"><a href="/compare/">Compare</a></li>
    <li class="menu-item item-level-0  my-account-with-text login-side-opener menu-item-register"><a href="/my-account/">Login / Register</a></li>
</ul>
