@using global::Web.Helpers
@using Web.Model.Models
@model List<Testimonial>
    @if (Model.Count > 0)
    {
        foreach (Testimonial item in Model)
        {
            <div class="col-sm-6">
                <div class="item clearfix d-flex align-items-center">
                    <div class="item-img hover-change">
                        <img class="w-100" src="@ImageHelper.GetResize(item.Avatar)" alt="@Html.Raw(item.Quotes)" />
                    </div>
                    <div class="item-content">
                        <p>
                            @Html.Raw(item.Quotes)
                        </p>
                        <div class="user-info">
                            @Html.Raw(item.ExtraInfo)
                        </div>
                    </div>
                </div>
            </div>
        }
    }


