.as-content{
    margin-top:-75px;
}
.section-pretitle {
    color: #ced4da !important;
    font-size: 19px !important;
    text-transform: uppercase !important;
}
.organik-seperator .sep-icon i {
    
    color: #f46f1b!important;
}
.section-title {
    opacity: 1 !important;
    color: #17a2b8 !important;
}
