@using ASP.Web.Core.Helpers
@model ASP.Web.Model.Models.Page
@{
    Layout = "~/Views/Default/Shared/_LayoutEmpty.cshtml";
}
@if (Model.StylesInsert != null)
{
    @(Model.StylesInsert.Contains("<style>") ? Html.Raw(Model.StylesInsert) : Html.Raw("<style > " + Model.StylesInsert + "</style>"))
}
<section class="as-content">
    <<Page guides>>
</section>
@section scripts{
    @if (Model.ScriptsInsert != null)
    {
        @(Model.ScriptsInsert.Contains("<script>") ? Html.Raw("" + Model.ScriptsInsert + "") : Html.Raw("<script>" + Model.ScriptsInsert + "</script>"))
    }
}

