@model ASP.Web.Model.Models.Page
@Styles.Render("~/bundles/content/default/home/css")
@if (Model.StylesInsert != null)
{
    @(Model.StylesInsert.Contains("<style>") ? Html.Raw(Model.StylesInsert) : Html.Raw("<style>" + Model.StylesInsert + "</style>"))
}
<section class="as-content">
    <section class="as-content"></section>
</section>
@section scripts{
    @Scripts.Render("~/bundles/content/default/home/js")
    @if (Model.ScriptsInsert != null)
    {
        @(Model.ScriptsInsert.Contains("<script>") ? Html.Raw("" + Model.ScriptsInsert + "") : Html.Raw("<script>" + Model.ScriptsInsert + "</script>"))
    }
}

