@using ASP.Web.Core.Helpers
@model ASP.Web.Model.Models.Page
@{
    Layout = "~/Views/Default/Shared/_Layout.cshtml";
}
@if (Model.StylesInsert != null)
{
    @(Model.StylesInsert.Contains("<style>") ? Html.Raw(Model.StylesInsert) : Html.Raw("<style > " + Model.StylesInsert + "</style>"))
}
<section class="as-content">
    <div class="main-page-wrapper">
        <div class="page-title page-title-default title-size-default title-design-centered color-scheme-light" style="background-image: url(https://woodmartcdn-cec2.kxcdn.com/wp-content/uploads/2017/01/faqs-page-title.jpg);">
            <div class="container">
                <header class="entry-header">
                    <h1 class="entry-title">FAQs</h1>
                    <div class="breadcrumbs" xmlns:v="http://rdf.data-vocabulary.org/#"><a href="https://woodmart.xtemos.com/" property="v:title" rel="v:url">Home</a> » <span class="current">FAQs</span></div>
                </header>
            </div>
        </div>

        <div class="container">
            <div class="row content-layout-wrapper align-items-start">
                <div class="site-content col-lg-12 col-12 col-md-12" role="main">
                    <article class="post-1845 page type-page status-publish hentry" id="post-1845">
                        <div class="entry-content">
                            <div class="vc_row wpb_row vc_row-fluid wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1494510617612 vc_row-o-equal-height vc_row-flex wpb_start_animation animated">
                                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-6 vc_col-has-fill">
                                    <div class="vc_column-inner vc_custom_1496938621896">
                                        <div class="wpb_wrapper">
                                            <div class="title-wrapper woodmart-title-color-default woodmart-title-style-default woodmart-title-width-100 text-left woodmart-title-size-default " id="wd-603fb514f25a3">
                                                <div class="liner-continer">
                                                    <h4 class="woodmart-title-container title woodmart-font-weight-">SHOPPING INFORMATION</h4>
                                                </div>
                                            </div>
                                            <div class="vc_tta-container" data-vc-action="collapseAll">
                                                <div class="vc_general vc_tta vc_tta-accordion vc_tta-color-white vc_tta-style-classic vc_tta-shape-square vc_tta-o-shape-group vc_tta-controls-align-left vc_tta-o-no-fill vc_tta-o-all-clickable">
                                                    <div class="vc_tta-panels-container">
                                                        <div class="vc_tta-panels">
                                                            <div class="vc_tta-panel vc_active" data-vc-content=".vc_tta-panel-body" id="1484652030151-41d816a1-ec06">
                                                                <div class="vc_tta-panel-heading">
                                                                    <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a data-vc-accordion="" data-vc-container=".vc_tta-container" href="#1484652030151-41d816a1-ec06"><span class="vc_tta-title-text">Delivery charges for orders from the Online Shop?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                                                </div>
                                                                <div class="vc_tta-panel-body">
                                                                    <div class="wpb_text_column wpb_content_element">
                                                                        <div class="wpb_wrapper">
                                                                            <p>A placerat ac vestibulum integer vehicula suspendisse nostra aptent fermentum tempor a magna erat ligula parturient curae sem conubia vestibulum ac inceptos sodales condimentum cursus nunc mi consectetur condimentum.</p>
                                                                            <p>Tristique parturient nulla ullamcorper at ullamcorper non orci iaculis neque augue.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="vc_tta-panel" data-vc-content=".vc_tta-panel-body" id="1484652030190-407b08ef-5de7">
                                                                <div class="vc_tta-panel-heading">
                                                                    <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a data-vc-accordion="" data-vc-container=".vc_tta-container" href="#1484652030190-407b08ef-5de7"><span class="vc_tta-title-text">How long will delivery take?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                                                </div>
                                                                <div class="vc_tta-panel-body">
                                                                    <div class="wpb_text_column wpb_content_element">
                                                                        <div class="wpb_wrapper">
                                                                            <p>Parturient ullamcorper et sagittis faucibus dui eu tortor ac parturient ridiculus vel hac condimentum scelerisque libero class.</p>
                                                                            <p>Pulvinar in dictumst suspendisse ullamcorper cras cum urna eget nibh facilisi eu a vestibulum morbi porttitor platea metus vestibulum.Ante ullamcorper adipiscing.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="vc_tta-panel" data-vc-content=".vc_tta-panel-body" id="1484652030219-c6960c7e-ee62">
                                                                <div class="vc_tta-panel-heading">
                                                                    <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a data-vc-accordion="" data-vc-container=".vc_tta-container" href="#1484652030219-c6960c7e-ee62"><span class="vc_tta-title-text">What exactly happens after ordering?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                                                </div>
                                                                <div class="vc_tta-panel-body">
                                                                    <div class="wpb_text_column wpb_content_element">
                                                                        <div class="wpb_wrapper">
                                                                            <p>Parturient viverra enim torquent elit sociosqu sociis consectetur pretium suspendisse sem scelerisque risus magna est consectetur ullamcorper nunc.</p>
                                                                            <p>Porta sapien nulla maecenas quis condimentum curabitur suscipit dolor est phasellus dui sociis fringilla a dignissim quisque ullamcorper nec eu eros.Elit consectetur non parturient tempus adipiscing nullam metus.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="vc_tta-panel" data-vc-content=".vc_tta-panel-body" id="1484652030238-302a2c7c-fe6f">
                                                                <div class="vc_tta-panel-heading">
                                                                    <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a data-vc-accordion="" data-vc-container=".vc_tta-container" href="#1484652030238-302a2c7c-fe6f"><span class="vc_tta-title-text">Do I receive an invoice for my order?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                                                </div>
                                                                <div class="vc_tta-panel-body">
                                                                    <div class="wpb_text_column wpb_content_element">
                                                                        <div class="wpb_wrapper">
                                                                            <p>Et malesuada fermentum fames dapibus ac accumsan a varius nibh suspendisse bibendum a at fames sed nibh ullamcorper himenaeos litora egestas pulvinar at id egestas sapien mattis et eros.Scelerisque urna a leo parturient lacinia a purus hac.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="vc_tta-panel" data-vc-content=".vc_tta-panel-body" id="1484652030262-e10da133-51b0">
                                                                <div class="vc_tta-panel-heading">
                                                                    <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a data-vc-accordion="" data-vc-container=".vc_tta-container" href="#1484652030262-e10da133-51b0"><span class="vc_tta-title-text">Tellus ridicdiam eleifend id ullamcorper?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                                                </div>
                                                                <div class="vc_tta-panel-body">
                                                                    <div class="wpb_text_column wpb_content_element">
                                                                        <div class="wpb_wrapper">
                                                                            <p>Parturient sociosqu in vestibulum vivamus accumsan nam tellus curae a at a dapibus a natoque lacus vestibulum hac elementum morbi morbi maecenas eros lorem in a vestibulum imperdiet in.</p>
                                                                            <p>Adipiscing primis torquent vivamus ut a condimentum neque ac.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-6">
                                    <div class="vc_column-inner vc_custom_1496938627545">
                                        <div class="wpb_wrapper">
                                            <div class="title-wrapper woodmart-title-color-default woodmart-title-style-default woodmart-title-width-100 text-left woodmart-title-size-default " id="wd-603fb51500b34">
                                                <div class="liner-continer">
                                                    <h4 class="woodmart-title-container title woodmart-font-weight-">PAYMENT INFORMATION</h4>
                                                </div>
                                            </div>
                                            <div class="vc_tta-container" data-vc-action="collapseAll">
                                                <div class="vc_general vc_tta vc_tta-accordion vc_tta-color-white vc_tta-style-classic vc_tta-shape-square vc_tta-o-shape-group vc_tta-controls-align-left vc_tta-o-no-fill vc_tta-o-all-clickable">
                                                    <div class="vc_tta-panels-container">
                                                        <div class="vc_tta-panels">
                                                            <div class="vc_tta-panel vc_active" data-vc-content=".vc_tta-panel-body" id="1">
                                                                <div class="vc_tta-panel-heading">
                                                                    <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a data-vc-accordion="" data-vc-container=".vc_tta-container" href="#1"><span class="vc_tta-title-text">When the order payment is taken of my bank account?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                                                </div>
                                                                <div class="vc_tta-panel-body">
                                                                    <div class="wpb_text_column wpb_content_element">
                                                                        <div class="wpb_wrapper">
                                                                            <p>Vestibulum a fringilla scelerisque ante nisl id taciti parturient praesent suscipit mi at id vestibulum cum vel purus suspendisse egestas ad aenean a penatibus urna.Dignissim senectus metus sodales euismod.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="vc_tta-panel" data-vc-content=".vc_tta-panel-body" id="1484056430132-f06cc1b5-a7ca">
                                                                <div class="vc_tta-panel-heading">
                                                                    <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a data-vc-accordion="" data-vc-container=".vc_tta-container" href="#1484056430132-f06cc1b5-a7ca"><span class="vc_tta-title-text">What is wishlist?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                                                </div>
                                                                <div class="vc_tta-panel-body">
                                                                    <div class="wpb_text_column wpb_content_element">
                                                                        <div class="wpb_wrapper">
                                                                            <p>Proin vel nunc non curabitur nullam suspendisse potenti lacinia in duis neque tempor a felis sit parturient placerat suspendisse primis.</p>
                                                                            <p>Condimentum parturient aenean aliquam quis auctor dictumst condimentum nec ad non urna accumsan hendrerit pretium potenti adipiscing adipiscing a sapien hendrerit ullamcorper accumsan risus mi et porta.</p>
                                                                            <p>Ac et condimentum potenti condimentum.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="vc_tta-panel" data-vc-content=".vc_tta-panel-body" id="1484049984302-e0b553b6-82dc">
                                                                <div class="vc_tta-panel-heading">
                                                                    <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a data-vc-accordion="" data-vc-container=".vc_tta-container" href="#1484049984302-e0b553b6-82dc"><span class="vc_tta-title-text">What should I do if I receive a damaged or wrong product?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                                                </div>
                                                                <div class="vc_tta-panel-body">
                                                                    <div class="wpb_text_column wpb_content_element">
                                                                        <div class="wpb_wrapper">
                                                                            <p>A faucibus leo auctor scelerisque sit torquent non ligula maecenas a suspendisse fermentum habitant aliquet consectetur mi ad nisl himenaeos elementum lobortis ornare ac adipiscing leo condimentum consectetur nibh laoreet.</p>
                                                                            <p>Dictum a elit ridiculus odio montes.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="vc_tta-panel" data-vc-content=".vc_tta-panel-body" id="1484057271889-b3b2ad15-15f7">
                                                                <div class="vc_tta-panel-heading">
                                                                    <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a data-vc-accordion="" data-vc-container=".vc_tta-container" href="#1484057271889-b3b2ad15-15f7"><span class="vc_tta-title-text">Can I change or cancel my order?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                                                </div>
                                                                <div class="vc_tta-panel-body">
                                                                    <div class="wpb_text_column wpb_content_element">
                                                                        <div class="wpb_wrapper">
                                                                            <p>Enim adipiscing commodo vestibulum condimentum parturient vulputate gravida phasellus scelerisque tellus lobortis scelerisque hac metus tincidunt mi.</p>
                                                                            <p>Vestibulum vestibulum parturient inceptos scelerisque neque a facilisis posuere sem ullamcorper scelerisque ac.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="vc_tta-panel" data-vc-content=".vc_tta-panel-body" id="1484056425804-e857e9fe-0c57">
                                                                <div class="vc_tta-panel-heading">
                                                                    <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a data-vc-accordion="" data-vc-container=".vc_tta-container" href="#1484056425804-e857e9fe-0c57"><span class="vc_tta-title-text">What is "package tracking" in my orders?</span><i class="vc_tta-controls-icon vc_tta-controls-icon-chevron"></i></a></h4>
                                                                </div>
                                                                <div class="vc_tta-panel-body">
                                                                    <div class="wpb_text_column wpb_content_element">
                                                                        <div class="wpb_wrapper">
                                                                            <p>Dignissim id a at adipiscing aptent nunc a dui dis quis est arcu parturient conubia lacinia adipiscing pulvinar nullam mi etiam leo molestie at elementum.</p>
                                                                            <p>Quis nam per sem facilisis a a parturient consectetur mauris scelerisque parturient adipiscing pretium ac eget consectetur.</p>
                                                                            <p>Condimentum nascetur sagittis eu himenaeos pharetra natoque bibendum pharetra nec vel a turpis dis phasellus ultrices sapien.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

</section>
@section scripts{
    @if (Model.ScriptsInsert != null)
    {
        @(Model.ScriptsInsert.Contains("<script>") ? Html.Raw("" + Model.ScriptsInsert + "") : Html.Raw("<script>" + Model.ScriptsInsert + "</script>"))
    }
}

