.toc-wrapper {
    padding: 10px;
    font-size: 96%;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 15px 0px;
    outline: 1px solid #fff;
    outline-offset: -10px;
    background-image: linear-gradient(125deg, #f2f2f24f 0%, #f5f5f5 100%) !important;
}

    .toc-wrapper #main-toc {
        margin-left: 38px;
        border-bottom: 1px solid #bababa8c;
    }

    .toc-wrapper #hr-toc {
        margin-bottom: 15px;
    }

.tabcontent h1 {
    font-size: 2em;
}

.tabcontent h2 {
    font-size: 1.5em;
}

.tabcontent h3 {
    font-size: 1.3em;
}

.tabcontent h4 {
    font-size: 1em;
}

.tabcontent h5 {
    font-size: 0.8em;
}

.tabcontent h6 {
    font-size: 0.7em;
}

.widget.widget_posts_widget .item .info .title {
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0px;
}

.widget.widget_posts_widget .item .info .time-ago {
    font-size: 10px;
    color: #f40;
    font-weight: 700;
}

.single-blog .entry-author {
    display: none;
}
.single-blog .entry-author img {
    width: 124px;
}

@media (max-width: 991px) {
    
    .single-blog img {
        width: 100% !important;
        height: auto !important;
        margin-bottom: 25px;
    }

    .single-blog .entry-author img {
        border-radius: 50%;
        border: 5px solid #f2f2f2;
        width: 72px !important;
        margin-bottom: 25px;
    }
    .widget.widget_posts_widget .item .thumb img {
        max-width: 100% !important;
    }
    .single-blog h2, .single-blog .h2 {
        font-size: 1.25rem;
    }
}
   