<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true " />
  <add key="owin:AutomaticAppStartup" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="Credits:ToolsDev" value="123@Selectgo" />
  <add key="IncludeProperties" value="custom" />
  <add key="IncludeProperties::Page" value="PageTemplate" />
  <add key="IncludeProperties::Category" value="CategoryTemplate" />
  <add key="IncludeProperties::CategoryFilter_FilterOption" value="{{product::manufacturers}},{{product::attributes}},{{product::specificationattributes}}" />
  <add key="IncludeProperties::Product" value="ProductType,Picture,ProductPictureMappings,ProductMetaAttributeMappings" />
  <add key="IncludeProperties::ProductTag" value="ProductProductTagMappings,ProductProductTagMappings.Product" />
  <add key="IncludeProperties::Manufacturer" value="ProductManufacturerMappings,ProductManufacturerMappings.Product" />
  <add key="IncludeProperties::BlogCategory" value="ChildCategories,ChildCategories.BlogPostCategoryMappings,ChildCategories.BlogPostCategoryMappings.BlogPost,BlogPostCategoryMappings,BlogPostCategoryMappings.BlogPost, BlogPostCategoryMappings.BlogPost.BlogComments" />
  <add key="IncludeProperties::BlogTag" value="BlogPostTagMappings,BlogPostTagMappings.BlogPost,BlogPostTagMappings.BlogPost.BlogPostCategoryMappings, BlogPostTagMappings.BlogPost.BlogPostCategoryMappings.BlogCategory" />
  <add key="IncludeProperties::BlogPost" value="BlogPostCategoryMappings,BlogComments,BlogPostProductMappings,BlogPostTagMappings" />
  <add key="Application::BundlesReservedPathsCss" value="/default/home/css,/default/account/base/css,/default/account/register/css,/default/account/login/css,/default/account/credits/css,/default/account/profile/css,/default/page/css,/default/pagelist/css,/default/blog/blog-category/css,/default/blog/blog-faq/css,/default/blog/blog-post/css,/default/blog/blog-post/default/css,/default/search/css,/default/blog/blog-tag/css,/default/blog/blog-list/css,/default/catalog/category/css/default,/default/catalog/category/css/filter,/default/catalog/category/css/infinite,/default/catalog/product/css,/plugins/back-to-top/css,/default/checkout/css,/default/cart/css" />
  <add key="Application::BundlesReservedPathsJs" value="/default/home/js,/default/account/base/js,/default/account/register/js,/default/account/login/js,/default/account/credits/js,/default/account/profile/js,/default/page/js,/default/pagelist/js,/default/catalog/category/js/default,/default/catalog/category/js/filter,/default/catalog/category/js/infinite,/default/catalog/product/default/js,/default/catalog/product/js,/default/blog/blog-category/js,/default/blog/blog-faq/js,/default/blog/blog-post/js,/plugins/back-to-top/js,/default/checkout/js,/default/cart/js" />
  <add key="Application::KeyNotAvailable" value="Global::PageSizeBlogTag,Store::1-ShowProductRating,Store::1-ShowProductPurchased,Global::StoreAvailable,Global::PageSizeManufacturer,Global::PageSizeOurStaff,Global::PageSizeTestimonial" />
  <add key="Application::DisabledAsynToFile" value="blogpost," />
  <add key="Application::DisabledAsynToCache" value="*" />
  <add key="Application::DisabledAsynToLanguage" value="*" />
  <add key="Application::ConnectStringDefault" value="NBContext_Gaolutngon" />
  <add key="Application::NameSpace" value="Default" />
  <add key="Application::Host" value="anvatquan.com" />
  <add key="Application::StoreAvailable" value="1,6," />
  <add key="Store::1-Favicon" value="favicon.ico" />
  <add key="Store::1-FbAppId" value="" />
  <add key="Store::1-FbAppSecret" value="" />
  <add key="Store::1-GoogleAnalyticCode" value=" " />
  <add key="Store::1-GoogleWebmasterToolCode" value="" />
  <add key="Store::1-LanguageDefault" value="vi" />
  <add key="Store::1-LiveChatCode" value=" " />
  <add key="Store::1-Logo" value="logo.png" />
  <add key="Store::1-Maintenance" value="False" />
  <add key="Store::1-ShowLiveChat" value="False" />
  <add key="Store::1-ShowPrice" value="True" />
  <add key="Store::1-ShowSuggestSearch" value="True" />
  <add key="Store::1-RegisterActiveDefault" value="True" />
  <add key="Store::1-ShowViewed" value="True" />
  <add key="Store::1-Skin" value="upload-new-skin" />
  <add key="Store::1-Slogan" value="Gắn kết lâu dài - Thành công vượt trội" />
  <add key="Store::1-StoreLink" value="http://preview.anvatquan.com" />
  <add key="Store::1-StoreName" value="「Gaolutngon.」" />
  <add key="Global::CacheStatus" value="enabled" />
  <add key="Global::CacheStatusInfiniteAbsoluteExpiration" value="True" />
  <add key="Global::PushSkipped" value="True" />
  <add key="Global::DirsMedia" value="\Uploads-1\" />
  <add key="Global::LinksApi" value="http://admin.anvatquan.com/external" />
  <add key="Global::LinksMedia" value="http://media.anvatquan.com" />
  <add key="Global::PageSizeDefault" value="8" />
  <add key="Global::PageSizeProduct" value="12" />
  <add key="Global::PageSizeProductTag" value="8" />
  <add key="Global::PageSizeSearch" value="12" />
  <add key="Global::ResourcesMedia" value="C:\Web Sites\gaolutngon.com\media" />
  <add key="Global::SiteStatus" value="private" />
  <add key="Global::LinksAdmin" value="http://admin.anvatquan.com" />
  <add key="Global::LinksMediaCdn" value="http://reviewdulichmedia.selectgo.vn" />
  <add key="Store::1-ApprovedReviewDefault" value="False" />
  <add key="Store::1-CheckoutAsGuest" value="True" />
  <add key="Store::1-MaxRate" value="5" />
  <add key="Store::1-CustomCss" value="" />
  <add key="Store::1-CustomCssMobile" value="" />
  <add key="Store::1-CustomJs" value="" />
  <add key="Store::1-PrimaryColor" value="" />
  <add key="Store::1-SecondaryColor" value="" />
  <add key="Global::anvatquan.com" value="1" />
</appSettings>
