<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
 <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
  xmlns="http://www.w3.org/2001/04/xmlenc#">
  <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
  <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
   <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
     <KeyName>Rsa Key</KeyName>
    </KeyInfo>
    <CipherData>
     <CipherValue>u1vtKnq1S6cy7ghryg2FAhWBjh7S74yi8m2MQs7shTEFBuiPZA/3fec/gIRlf+apdU+F1p+5SSm8q9G42AGJo3+E7dLL6+nyA9aYQgpEfooNBoa1ACeqcJNM6uBMrwp61Pb3rQ8QsuTsMVsnob/JG05OeiYbsXKBSLZ34NTAaxG85wVvrh3+AEU9oY6rMsoumkscpHb5UIIg8MkDmfyROCsdLq0oQh0H/AUe2ZMeWXtffLqeEHS/KG3f5vj5mdfutZFnvgQRwH4T49TgNFgirDdN1DufmLAgTX74IcEyH5jLjUrOK1GMO4GxpcJZsw6SgQ+M7Z5kGt6kHgx+rIj3Aw==</CipherValue>
    </CipherData>
   </EncryptedKey>
  </KeyInfo>
  <CipherData>
   <CipherValue>eqz1jCWybcChFfCDvnH7yXlfPSzzz6w3FFzgXwIVtY4+AGoAoKzZwZfZarYUmVbUCGXtQty6FXxQl5sk/Z8HeJFut862gp6R7R2x7F8onPsnVacmKvKhZayOALpMl67nDsyD2Ku9p0OA1GI924ScB5o90lgsaOtJRvMG3kiMN7SW5CYNrGTDeM8P1pmmRZInHMg0Vzus2yKrdJssM7/2w2s8RuaCgcsJ+kuHO8sbsaWCPvAAH9lSuL91qM0USHLutyxONtbKW1LuPB0N+dRpadkVMYj4b2nIo48KJ2mEZLJtYkoct8ZqNhKqd9N5CfShXr5r0cS3zmKEb29CgQYtnYi6gldvj+qc6U/HawNbtVxHgQrnDnhJyrlfyyTAhgFVR25P5+frHx5KyyDoAg7FZA==</CipherValue>
  </CipherData>
 </EncryptedData>
</connectionStrings>