<a class="nav-link pr-2 pl-0" href="javascript:void(0)"><i data-feather="facebook"></i></a> <a class="nav-link px-2" href="javascript:void(0)"><i data-feather="twitter"></i></a> <a class="nav-link px-2" href="javascript:void(0)"><i data-feather="instagram"></i></a>
