<ul><li class="m-bottom-0"><a href="#" title="Terms & Conditions">Chính sách bảo mật</a></li><li class="m-bottom-0"><a href="#" title="Return Policy">Giấy tờ pháp lý</a></li><li class="m-bottom-0"><a href="#" title="Refund Policy">Hình thức thanh toán</a></li><li class="m-bottom-0"><a href="#" title="Refund Policy"> Chính sách vận chuyển</a></li></ul>
