<section class="container pt-5 pb-2 pb-sm-5 py-md-5 py-lg-6">
    <div class="row py-3">
        <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
            <img class="mb-4" src="../../assets/img/ecommerce/home/services/delivery.svg" width="48" alt="Worldwide Shipping">
            <h5 class="h5 mb-2">Fast Worldwide Shipping</h5>
            <p class="mb-0 text-muted">Get free shipping over $250</p>
        </div>
        <span class="divider-vertical d-sm-block d-none"></span>
        <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
            <img class="mb-4" src="../../assets/img/ecommerce/home/services/support.svg" width="48" alt="Customer Support">
            <h5 class="h5 mb-2">24/7 Customer Support</h5>
            <p class="mb-0 text-muted">Friendly 24/7 customer support</p>
        </div>
        <span class="divider-vertical d-sm-block d-none"></span>
        <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
            <img class="mb-4" src="../../assets/img/ecommerce/home/services/guarantee.svg" width="48" alt="Customer Support">
            <h5 class="h5 mb-2">Money Back Guarantee</h5>
            <p class="mb-0 text-muted">We return money within 30 days</p>
        </div>
        <span class="divider-vertical d-sm-block d-none"></span>
        <div class="col-sm-6 col-md-3 text-center mb-md-0 mb-4 pb-md-0 pb-3">
            <img class="mb-4" src="../../assets/img/ecommerce/home/services/payment.svg" width="48" alt="Customer Support">
            <h5 class="h5 mb-2">Secure Online Payment</h5>
            <p class="mb-0 text-muted">Accept all major credit cards</p>
        </div>
    </div>
</section>