<div class="swiper-cotainer" id="home-story-slider">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="item">
<div class="number counter-value" data-count="12">4</div>

<div class="devide-line"> </div>

<div class="name">Tổng số dự án</div>
</div>
</div>

<div class="swiper-slide">
<div class="item">
<div class="number">108,<span class="counter-value" data-count="80">1</span></div>

<div class="devide-line"> </div>

<div class="name">Tổng diện tích dự án (ha)</div>
</div>
</div>

<div class="swiper-slide">
<div class="item">
<div class="number">11.<span class="counter-value" data-count="500">1</span></div>

<div class="devide-line"> </div>

<div class="name">Tổng số căn</div>
</div>
</div>

<div class="swiper-slide">
<div class="item">
<div class="number">2.<span class="counter-value" data-count="500">1</span></div>

<div class="devide-line"> </div>

<div class="name">Tổng số căn đã bàn giao</div>
</div>
</div>

<div class="swiper-slide">
<div class="item">
<div class="number counter-value" data-count="10">1</div>

<div class="devide-line"> </div>

<div class="name">Tổng giải thưởng</div>
</div>
</div>
</div>

<div class="swiper-pagination"> </div>
</div>

