<img alt="" class="footer-logo" src="http://210.245.87.249:18128/assets/organik/images/footer_logo.png">
<p>Welcome to Organik. Our products are freshly harvested, washed ready for box and finally delivered from our family farm right to your doorstep.</p>

<div class="footer-social"><a data-placement="top" data-toggle="tooltip" href="#" title="Facebook"><i class="fa fa-facebook"></i></a> <a data-placement="top" data-toggle="tooltip" href="#" title="Twitter"><i class="fa fa-twitter"></i></a> <a data-placement="top" data-toggle="tooltip" href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a> <a data-placement="top" data-toggle="tooltip" href="#" title="Instagram"><i class="fa fa-instagram"></i></a></div>

