<div class="row">
<div class="col-md-8">Copyright © 2019 <a href="#">Organic Store</a> - All Rights Reserved.</div>

<div class="col-md-4"><img alt="" src="http://210.245.87.249:18128/assets/organik/images/footer_payment.png"></div>
</div>

