<div class="row"><div class="col-md-8">著作権©2019 <a href="#">オーガニックストア</a> - 著作権所有。</div><div class="col-md-4"><img alt="" class="imgに対応 img-responsive" src="~/assets/organik/images/footer_payment.png"></div></div>
