@model Product
@{
    Layout = "~/Views/Default/Shared/_LayoutEmpty.cshtml";
}

<div class="mfp-with-anim wd-popup popup-quick-view">
    <script>var woodmart_qv_variation_gallery_data = []</script>
    <div id="product-1301" class="product-quick-view single-product-content quick-view-horizontal post-1301 type-product status-publish has-post-thumbnail product_cat-lighting product_tag-bown product_tag-light product first instock shipping-taxable purchasable product-type-simple">

        <div class="row product-image-summary">
            <div class="col-lg-6 col-md-6 col-12 product-images woocommerce-product-gallery">
                <link rel="stylesheet" id="wd-page-single-product-css" href="https://woodmart.xtemos.com/wp-content/themes/woodmart/css/parts/woo-page-single-product.min.css?ver=5.3.6" type="text/css" media="all" /> 						<link rel="stylesheet" id="wd-owl-carousel-css" href="https://woodmart.xtemos.com/wp-content/themes/woodmart/css/parts/lib-owl-carousel.min.css?ver=5.3.6" type="text/css" media="all" /> 			<div class="images">
                    <div class="woocommerce-product-gallery__wrapper quick-view-gallery owl-items-lg-1 owl-items-md-1 owl-items-sm-1 owl-items-xs-1">
                        <figure class="woocommerce-product-gallery__image"><img width="700" height="800" src="https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2.jpg" class="attachment-woocommerce_single size-woocommerce_single wp-post-image" alt="" loading="lazy" title="light2-2" srcset="https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2.jpg 1050w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-131x150.jpg 131w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-263x300.jpg 263w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-768x878.jpg 768w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-700x800.jpg 700w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-88x100.jpg 88w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-200x230.jpg 200w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-430x490.jpg 430w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-858x980.jpg 858w" sizes="(max-width: 700px) 100vw, 700px" /></figure><div class="product-image-wrap"><figure class="woocommerce-product-gallery__image"><img width="700" height="800" src="https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_3-2.jpg" class="wp-post-image imagify-no-webp" alt="" loading="lazy" srcset="https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_3-2.jpg 1050w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_3-2-131x150.jpg 131w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_3-2-263x300.jpg 263w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_3-2-768x878.jpg 768w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_3-2-700x800.jpg 700w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_3-2-88x100.jpg 88w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_3-2-200x230.jpg 200w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_3-2-430x490.jpg 430w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_3-2-858x980.jpg 858w" sizes="(max-width: 700px) 100vw, 700px" /></figure></div><div class="product-image-wrap"><figure class="woocommerce-product-gallery__image"><img width="700" height="800" src="https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_4.jpg" class="wp-post-image imagify-no-webp" alt="" loading="lazy" srcset="https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_4.jpg 1050w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_4-131x150.jpg 131w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_4-263x300.jpg 263w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_4-768x878.jpg 768w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_4-700x800.jpg 700w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_4-88x100.jpg 88w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_4-200x230.jpg 200w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_4-430x490.jpg 430w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_4-858x980.jpg 858w" sizes="(max-width: 700px) 100vw, 700px" /></figure></div><div class="product-image-wrap"><figure class="woocommerce-product-gallery__image"><img width="700" height="800" src="https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_2.jpg" class="wp-post-image imagify-no-webp" alt="" loading="lazy" srcset="https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_2.jpg 1050w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_2-131x150.jpg 131w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_2-263x300.jpg 263w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_2-768x878.jpg 768w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_2-700x800.jpg 700w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_2-88x100.jpg 88w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_2-200x230.jpg 200w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_2-430x490.jpg 430w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2_2-858x980.jpg 858w" sizes="(max-width: 700px) 100vw, 700px" /></figure></div><div class="product-image-wrap"><figure class="woocommerce-product-gallery__image"><img width="700" height="800" src="https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2.jpg" class="wp-post-image imagify-no-webp" alt="" loading="lazy" srcset="https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2.jpg 1050w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-131x150.jpg 131w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-263x300.jpg 263w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-768x878.jpg 768w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-700x800.jpg 700w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-88x100.jpg 88w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-200x230.jpg 200w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-430x490.jpg 430w, https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2-858x980.jpg 858w" sizes="(max-width: 700px) 100vw, 700px" /></figure></div>
                    </div>
                </div>
                <a href="https://woodmart.xtemos.com/shop/lighting/leo-sodales-varius/" class="view-details-btn">View details</a>
            </div>
            <div class="col-lg-6 col-md-6 col-12 summary entry-summary">
                <div class="summary-inner wd-scroll">
                    <div class="wd-scroll-content">

                        <h1 itemprop="name" class="product_title wd-entities-title">
                        <a href="https://woodmart.xtemos.com/shop/lighting/leo-sodales-varius/">@Model.Name</a></h1>
                        <div class="wd-product-brands "><div class="woodmart-product-brand"><a href="https://woodmart.xtemos.com/shop/?filter_brand=klober"><img src="https://woodmart.xtemos.com/wp-content/uploads/2017/01/klobe2r.png" title="KLÖBER" alt="KLÖBER" width="150" height="83"></a></div></div><p class="price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">&#36;</span>359.00</bdi></span></p>
                        <div class="woocommerce-product-details__short-description">
                            <p>Himenaeos dictumst justo at a vitae suspendisse himenaeos leo sodales varius arcu massa integer vestibulum a a convallis condimentum pulvinar per sagittis vestibulum taciti viverra a eu.</p>
                        </div>

                        <link rel="stylesheet" id="wd-add-to-cart-popup-css" href="https://woodmart.xtemos.com/wp-content/themes/woodmart/css/parts/woo-opt-add-to-cart-popup.min.css?ver=5.3.6" type="text/css" media="all" /> 						<link rel="stylesheet" id="wd-mfp-popup-css" href="https://woodmart.xtemos.com/wp-content/themes/woodmart/css/parts/lib-magnific-popup.min.css?ver=5.3.6" type="text/css" media="all" />
                        <form class="cart" action="https://woodmart.xtemos.com/shop/lighting/leo-sodales-varius/" method="post" enctype='multipart/form-data'>

                            <div class="quantity">
                                <input type="button" value="-" class="minus" />
                                <label class="screen-reader-text" for="quantity_6065bd13a6228">Leo sodales varius quantity</label>
                                <input type="number"
                                       id="quantity_6065bd13a6228"
                                       class="input-text qty text"
                                       step="1"
                                       min="1"
                                       max=""
                                       name="quantity"
                                       value="1"
                                       title="Qty"
                                       size="4"
                                       placeholder=""
                                       inputmode="numeric" />
                                <input type="button" value="+" class="plus" />
                            </div>

                            <button type="submit" name="add-to-cart" value="1301" class="single_add_to_cart_button button alt">Add to cart</button>

                        </form>


                        <div class="product_meta">



                            <span class="posted_in">Category: <a href="https://woodmart.xtemos.com/product-category/lighting/" rel="tag">Lighting</a></span>
                            <span class="tagged_as">Tags: <a href="https://woodmart.xtemos.com/product-tag/bown/" rel="tag">bown</a><span class="meta-sep">,</span> <a href="https://woodmart.xtemos.com/product-tag/light/" rel="tag">light</a></span>

                        </div>
                        <div class="product-share">
                            <span class="share-title">Share</span>
                            <link rel="stylesheet" id="wd-social-icons-css" href="https://woodmart.xtemos.com/wp-content/themes/woodmart/css/parts/el-social-icons.min.css?ver=5.3.6" type="text/css" media="all" />
                            <div class="wd-social-icons text-center icons-design-default icons-size-small color-scheme-dark social-share social-form-circle">
                                <a rel="noopener noreferrer nofollow" href="https://www.facebook.com/sharer/sharer.php?u=https://woodmart.xtemos.com/shop/lighting/leo-sodales-varius/" target="_blank" class=" wd-social-icon social-facebook">
                                    <span class="wd-icon"></span>
                                </a>

                                <a rel="noopener noreferrer nofollow" href="https://twitter.com/share?url=https://woodmart.xtemos.com/shop/lighting/leo-sodales-varius/" target="_blank" class=" wd-social-icon social-twitter">
                                    <span class="wd-icon"></span>
                                </a>




                                <a rel="noopener noreferrer nofollow" href="https://pinterest.com/pin/create/button/?url=https://woodmart.xtemos.com/shop/lighting/leo-sodales-varius/&media=https://woodmart.xtemos.com/wp-content/uploads/2016/09/light2-2.jpg&description=Leo+sodales+varius" target="_blank" class=" wd-social-icon social-pinterest">
                                    <span class="wd-icon"></span>
                                </a>


                                <a rel="noopener noreferrer nofollow" href="https://www.linkedin.com/shareArticle?mini=true&url=https://woodmart.xtemos.com/shop/lighting/leo-sodales-varius/" target="_blank" class=" wd-social-icon social-linkedin">
                                    <span class="wd-icon"></span>
                                </a>













                                <a rel="noopener noreferrer nofollow" href="https://telegram.me/share/url?url=https://woodmart.xtemos.com/shop/lighting/leo-sodales-varius/" target="_blank" class=" wd-social-icon social-tg">
                                    <span class="wd-icon"></span>
                                </a>


                            </div>

                        </div>
                    </div>
                </div>
            </div><!-- .summary -->
        </div>


    </div><!-- #product-1301 -->

</div>